.transactionForm {
    width: 98%;
    height: 351px;

    display:flex;
    flex-direction: column;
    justify-content: space-evenly;

    border: 1px solid #E9ECEF;
    border-radius: 4px;

    margin: 15px;
    padding:24.5px;

    font-family: 'Inter';
}
.transactionForm input, .transactionForm select, .inputValue {
    padding: 12px 16px;

    border:1px solid #F8F9FA;

    background-color: #F8F9FA;
    color:#868E96;

    font-family: 'Inter';
}

.transactionForm input:hover, .transactionForm select:hover, .inputValue:hover {
    border: 1px solid #212529;
}

.transactionForm input {
    font-size:16px;
}

.transactionForm select {
    font-size: 14px;
}

.transactionForm span {
    color:#868E96;
    font-size: 12px;
    font-weight: 400;
}

.transactionForm button {
    background-color: #FD3773;
    color: #FFFFFF;

    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
}

.transactionForm button:hover {
    background-color: #E34981;
    cursor: pointer;
}

.valueTypeDiv {
    display: flex;
    justify-content: space-between;

    width: 95%;
}

.inputValue{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputValue input {
    padding: 0;
    border:none;
    background:transparent;
    color:inherit;
    width: 70%;
}

.inputValue input:hover{
    border: none;
}

.inputValue input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.inputValue p {
    color:#5B6166;
    font-weight: 400;
    font-size: 16px;
}

.minorDivs{
    display:flex;
    flex-direction:column;

    width: 48%;
}