@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

/* GERAL */
h3 {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 16px;
}

/* DIV TOTAL MONEY */
.totalMoney {
    border: 1px solid #E9ECEF;
    border-radius: 4px;

    width: 95vw;
    height: 96px;

    margin: 0 15px;
    padding: 18px 24px;

    display: flex;
    justify-content: space-between;
}

.totalMoney p {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 12px;

    color: #868E96;
}

.totalMoneyValue {
    height: 100%;

    color: #FD377E;

    line-height: 50px;
}
