/*GERAIS*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-align: center;

  border-radius: 8px;
  border: 1.4px solid #FFFFFF00;

  padding: 15px;

  cursor: pointer;
}

/*HEADER*/
.mainHeader{
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 100vw;
  height: 16vh;

  background: #F8F9FA;
  box-shadow: 0px 4px 32px -12px #00000040;
}

.unactiveButton{
  background-color: #E9ECEF;
  color: #868E96;

  font-family: 'Nunito';
  font-size: 14px;
}

.unactiveButton:hover {
  background-color:#868E96;
  color: #F8F9FA;
  cursor: pointer;
}

.unactiveButton:active {
  background-color: #FD377E;
  color: #FFFFFF;
}

/*MAIN*/
.main {
  overflow-y: auto;

  width: 100vw;
  height: 84vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* LIST */
.listHeader {
  display:flex;
  justify-content: space-between;

  width: 95vw;

  padding: 10px;
}

.listHeader h3 {
  font-weight: 700;
  font-size: 16px;

  color:#212529;
}

.listHeader .unactiveButton {
  max-width: 69px;
  max-height: 40px;

  padding: 5px;
  margin: 2px;

  font-size: 14px;
  font-weight: 600;
  text-align: start;
}

@media screen and (min-width: 426px){
  .main{
    flex-direction: row;
  }
}