/*GERAIS*/
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-align: center;

  border-radius: 8px;
  border: 1.4px solid #FFFFFF00;

  padding: 15px;

  cursor: pointer;
}
  /*Botões da página no geral*/
  .buttons{
    background-color: #E9ECEF;
    color: #868E96;

    font-family: 'Nunito';
    font-size: 14px;
  }

  .buttons:hover {
    background-color:#868E96;
    color: #F8F9FA;
    cursor: pointer;
  }

  .buttons:focus {
    background-color: #FD377E;
    color: #FFFFFF;
  }

/*HEADER*/
.mainHeader{
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 100vw;
  height: 16vh;

  background: #F8F9FA;
  box-shadow: 0px 4px 32px -12px #00000040;
}

/*MAIN*/
.main {
  overflow-y: auto;

  width: 100vw;
  height: 84vh;

  display: flex;
  flex-direction: column;
}

.transactionsInfo {
  width: 95%;
}

/* LIST */
.listSection {
  width: 100%;
}

.listHeader {
  display:flex;
  justify-content: space-between;  
  align-items: center;

  padding: 10px;
}

.listHeader h3 {
  font-weight: 700;
  font-size: 16px;

  color:#212529;
}

.listHeader .buttons {
  max-width: 69px;
  max-height: 40px;

  padding: 5px;
  margin: 2px;

  font-size: 14px;
  font-weight: 600;
  text-align: start;
}

.buttonsList {
  width:50%;
  
  display: flex;
  justify-content: space-around;

  box-sizing: content-box;
}

/*Media Queries*/
@media screen and (min-width: 426px){
  .main{
    flex-direction: row;
  }

  .mainHeader {
    justify-content: space-between;
    padding: 0 10vw;
  }

  .transactionsInfo {
    width: 48%;
    margin-right: 20px;
  }

  .listSection {
    width: 50%;
  }
  
  .listHeader .buttons {
    height: 40px;
    box-sizing: content-box;
    max-width: 69px;
    padding: 0px 12px;
    text-align: center;
  }

  .filtrarTodos {
    padding: 10.5px 15px;
  }

  .filtrarDespesas {
    width: 92px;
  }
}

@media screen and (min-width:769px){
  .main{
    justify-content: space-around;
    width: 86vw;
    margin:10px auto;
  }

  .mainHeader {
    padding:0 12vw;
    width: 98vw;
  }

  .transactionsInfo {
    max-width: 363px;
    margin-right: 2.5vw;
  }

}