/*Background*/
.inicialPage {
    width:100vw;
    height:100vh;

    background-color: #212529;
    color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;
}

.containerPressentation {
    width: 65%;
    height: 593px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 15%;
}

/*Imagem de Capa*/
.capa {
    display:none
}

/*Texto de apresentação*/

.logo {
    width: 100%;
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    
    height: 60%;
    width: 35%;
}

.slogan {
    font-family: 'Nunito';
    font-weight: 800;
    font-size: 38px;
    line-height: 48px;
}

.presentationDetail {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 16px;
}

.buttonGoToMainPage {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;

    padding: 14.5px 97px;

    background-color: #FD377E;
    color:inherit;
}

/*Media Queries*/

@media screen and (min-width:426px) {
    .capa {
        display: block;
        width: 55%;
    }

    .containerPressentation {
        padding-left: 0 ;
    }

    .logo {
        width:46%;
    }
}